    <nav class="navbar navbar-default" id="boston-green-navbar-container" role="navigation">
      <div class="container-fluid" id="boston-green-navbar-content">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo"></div>
          <div class="sitename"><b>BostonGreenSpace</b>.org</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" id="boston-green-navbar">
            <li class="navlinks"><a href="#">About</a></li>
            <li class="navlinks"><a href="#">Mission</a></li>
            <li class="navlinks"><a href="#">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="floating-text">
        <h1>Find your space.</h1>

        <div class="row">
          <div class="btn-group col-md-12">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              By Neighborhood
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {{#each neighborhood}}
                <li><a href="#/parks/{{ id }}">{{ name }}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="btn-group col-md-12">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              By Activity
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {{#each activity}}
                <li><a href="#/parks/{{ id }}">{{ name }}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="gobutton">GO</div>
      </div>  

      <!-- Indicators -->
      <ol class="carousel-indicators">

        {{#collection recommended}}
          <li data-target="#carousel-example-generic" data-slide-to="{{index}}" class="active"></li>
        {{/collection}}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" id="carousel-images-container">
        <div class="item active">
          {{#collection recommended}}
            <img class="carousel-image" src="{{url}}" alt="...">
          {{/collection}}
        </div>
      </div>
    </div>
