{{!-- 
<div id="map" style="height: 600px; width:100%">
       </div> --}}
<div id="carousel-example-generic">
  <!-- Wrapper for slides -->
  <div class="center-content" style="position: relative">
        <div class="toggle-box">
         <div class="toggle-text">
          <a id="toggle">Map</a>
         </div>
        </div>
    <div style="position:absolute; z-index:1000">
      <div class="floating-text">
        <div class="park-information">
          <div class="park-title row">
            <h1>{{name}}</h2> 
          </div>
          {{#if description}}
            <div class="park-description row">
              <p>{{description}}</p>
            </div>  
          {{/if}}
          <div class="park-activities row">
            {{#each activities}}
              <a> 
                <div class="park-activity {{slug}}" data-toggle="tooltip" data-placement="bottom" title="{{name}}"></div>
              </a>
            {{/each}}
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="carousel-inner" id="carousel-images-container">
    {{#if images}}
      {{#each images}}
        <div class="item">
          <div class="carousel-image" style="background-image: url('{{large_src}}');" alt="..."></div>
          <div class="carousel-caption"></div>
        </div>
      {{/each}}
    {{else}}
        <div class="item">
          <div class="carousel-image" style="background-image: url('http://sunshinerunning.files.wordpress.com/2011/03/boston_common.jpg');" alt="..."></div>
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <div class="carousel-image" style="background-image: url('http://sunshinerunning.files.wordpress.com/2011/03/boston_common.jpg');" alt="..."></div>
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <div class="carousel-image" style="background-image: url('http://sunshinerunning.files.wordpress.com/2011/03/boston_common.jpg');" alt="..."></div>
          <div class="carousel-caption"></div>
        </div>
    {{/if}}
  </div>
</div>  

<div class="quick-facts">
  <div class="center-content">
    <h2>Quick Facts</h2>
  </div>
  <div id="orbs" class="owl-carousel orbs">
    {{#if area}}
      <div class="item circle">{{area}} Acres</div>
    {{/if}}
    {{#if access}}
      <div class="item circle">P</div>
    {{/if}}
  </div>
</div> 
<div class="nearby-parks">
  <div class="center-content">
    <h2>Similar Parks</h2>
  </div>
  <div id="nearby" class="owl-carousel orbs">
    {{#each recommended_parks}}
      <div class="item">
      {{#if image.src}}
        <img src="{{image.src}}" alt={{owner}}>
      {{else}}
        <img src="http://placehold.it/300x200" alt={{owner}}>
      {{/if}}
        <p class="park-title"><a href="#{{url}}">{{name}}</a></p>
      </div>    
    {{/each}}
  </div>
</div> 
<div class="recommended-parks">
  <div class="center-content">
    <h2>Nearby Spaces</h2>
  </div>
  <div id="recommended" class="owl-carousel orbs">
    {{#each nearby_parks}}
      <div class="item">
        {{#if image.src}}
          <img src="{{image.src}}" alt={{owner}}>
        {{else}}
          <img src="http://placehold.it/300x200" alt={{owner}}>
        {{/if}}
        <p class="park-title"><a href="#{{url}}">{{name}}</a></p>
      </div>
    {{/each}}
  </div>
</div> 