{{!-- <div class="center-content">
  <div class="floating-text find-your-space">

  </div>  
</div>
  --}}
<div id="carousel-example-generic">
  <div class="center-content" style="position: relative">
    <div style="position:absolute; z-index:1000">
      <div class="floating-text find-your-space">
        <h1>Find your space.</h1>
          <div class="btn-group select-width">
            <select data-placeholder="Select Your Neighborhood" class="parkfilter chzn-select form-control" id="neighborhoods">
              <option value="">All Neighborhoods</option>
              {{#each neighborhoods}}
                <option value="{{ id }}">{{ name }}</option>
              {{/each}}
            </select>
          </div>

          <div class="btn-group select-width">
            <select data-placeholder="Select Your Activity" class="parkfilter chzn-select form-control" id="facility__activity">
              <option value="">All Activities</option>
              {{#each activities}}
                <option value="{{ id }}">{{ name }}</option>
              {{/each}}
            </select>
          </div>
        <div class="gobutton" id="filter-select">GO</div>
      </div>  
    </div>
  </div>
  <div class="carousel-inner" id="carousel-images-container">
    {{#each hero_images}}
      <div class="item">
        <div class="carousel-image" style="background-image: url('{{large_src}}');" alt="..."></div>
        <div class="carousel-caption"></div>
      </div>
    {{/each}}
  </div>
</div>  

 
<div class="featured-parks">
  <div class="orbs">
    <h2>Featured Spaces</h2>
  </div>
  <div id="featured" class="owl-carousel orbs">
    {{#each featured_parks }} 
      <div class="item">
        {{#if images.0.src}}
          <img src="{{images.0.src}}" alt={{owner}}>
        {{else}}
          <img src="http://placehold.it/300x200" alt={{owner}}>
        {{/if}}
        <div class="park-title-wrapper">
          <p class="park-title"><a href="#{{url}}">{{name}}</a></p>
        </div>
      </div>
    {{/each}}
  </div>
</div> 
